@font-face {
    font-family: Roboto;
    src: url(../static/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(../static/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../static/fonts/Roboto-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../static/fonts/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: url(../static/fonts/Inter-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../static/fonts/Inter-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: OpenSans;
    src: url(../static/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: OpenSans;
    src: url(../static/fonts/OpenSans-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Vidaloka;
    src: url(../static/fonts/Vidaloka.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Vidaloka;
    src: url(../static/fonts/Vidaloka.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Vidaloka;
    src: url(../static/fonts/Vidaloka.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../static/fonts/Montserrat.ttf);
    font-weight: 400;
}