@import url(~/assets/fonts.css);

html {
    color: white;
    background: #202020;
    font-family: Montserrat;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
.app, .header, .footer {
    width: 100%;
    margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: Montserrat;
}
/* .fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
  transition: 1s;
  opacity: 0;
} */